.navbar{
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 10rem;
}
.navbar-menu{
    list-style: none;
    display: flex;
    gap: 1.25rem;
    font-size: 1.25rem;
    color: #40557e;
    font-weight: 600;
}
.navbar-menu li{
    cursor: pointer;

}
.menu-right{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.sign-up{
    border: 0.8px solid #49557e;
    background-color: transparent;
    border-radius: 50px;
    padding: 0.4rem 1.8rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 100ms ease;
}
.sign-up:hover{
    background-color: #fff4f2;
}
.active{
    padding-bottom: .2rem;
    border-bottom: 2px solid #49557e;
}
.basket{
    position: relative;
    cursor: pointer;
}
.dot{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    background-color: tomato;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width <= 63rem){
    .logo{
        width: 8rem;
    }
    .navbar-menu{
        font-size: 1rem;
        gap: 1.5rem;
    }
    .menu-right{
        gap: 1.5rem;
    }
    .sign-up{
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
    }
    .menu-right img{
        width: 1.2rem;
    }
}

@media (width <= 56rem){
    .logo{
        width: 7rem;
    }
    .navbar-menu{
        font-size: 1rem;
        gap: 0.5rem;
    }
    .menu-right{
        gap: 1rem;
    }
    .sign-up{
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;
    }
    .menu-right img{
        width: 1.2rem;
    }
}

@media (width <= 46rem){
    
    .navbar-menu{
        display: none;
    }
    .menu-right{
        gap: 2rem;
    }
    .sign-up{
        padding: 0.6rem 1.6rem;
        font-size: 1rem;
    }
    .menu-right img{
        width: 1.4rem;
    }
}